body{
    background-color: black;
    /*background-image: url(background.jpg);*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

#clock-container{
    width: 7em;
    backdrop-filter: blur(5px);
    text-decoration: solid;
    text-align: center;
    color: palevioletred;
    background-color: rgba(245, 245, 245, 0.7);    
    font-family: monospace;
    font-size: 6em;
    border-radius: 20px;
    font-weight: bold;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #111111;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #111111;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }